BraveSoftware/
Code/
abrt/
btop/
dconf/
enchant/
evolution/
gnome-boxes/
gnome-session/
goa-1.0/
gtk-3.0/
gtk-4.0/
ibus/
libreoffice/
libvirt/
matplotlib/
nautilus/
neofetch/
nvim/
nwg-panel/
procps/
pulse/
totem/
vlc/
yarn/
yelp/
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
background
connections.db
gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list

