* {
  font-family: JetBrainsMono;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(13, 21, 58, 0.9);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: solid 3px rgba(13,21,58,1);
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border:solid 1px grey;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 8px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
  border-bottom:solid 1px white;
}

#entry:selected {
  border-radius: 15px;
  padding: 10px;
  background: rgba(20, 1, 244,0);
  background: linear-gradient(45deg, rgba(20, 1, 244, 0.5), rgba(245, 46, 38, 0.5));
}

#text {
  margin: 2px;
}
