* {
  font-family: JetBrainsMono;
  color: #e5e9f0;
  background:transparent;
}

#window {
  background: black;
  margin: auto;
  padding: 10px;
  border:solid 1px black;
  border-radius: 8px;
}

#input {
  padding: 10px;
  margin-bottom: 20px;
  border:none;
  border-bottom:solid gray 1px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 8px;
}

#entry {
  padding: 5px;
}

#entry:selected {
  border-radius: 5px;
  border:solid 1px white;
  padding: 5px;
  background: rgba(20, 1, 244,0);
  background: linear-gradient(45deg, rgba(20, 1, 244, 0.5), rgba(245, 46, 38, 0.5));
}

#text {
  margin: 2px;
}
